:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --fw-reg: 500;
  --fw-bold: 700;

  --fs-h1: 2rem;

  --clr-accent: hsl(158, 36%, 37%);
  --clr-dark: hsl(212, 21%, 14%);
  --clr-grey: hsl(228, 12%, 48%);
  --clr-light: hsl(0, 0%, 100%);
  --clr-wallpaper: hsl(30, 38%, 92%);

  --border-radius: 1em;
}

/*  
############
Basics
############
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0 0 0.5em 0;
}

html,
body {
  display: grid;
  height: 100%;
}

body {
  background-color: var(--clr-wallpaper);
  font-family: var(--ff-primary);
  color: var(--clr-grey);
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-secondary);
}

/*  
############
Card
############
*/

.card {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light);
  border-radius: var(--border-radius);
  max-width: 90%;
  min-width: 300px;
}

.card-contents {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.product-type {
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}

.product-name {
  line-height: 1em;
  color: var(--clr-dark);
}

.product-description {
  line-height: 1.75em;
  margin-bottom: 2.5em;
}

.prices {
  display: flex;
  align-items: center;
}

.prices h1 {
  color: var(--clr-accent);
  margin-right: 1em;
}

.product-image {
  order: -1;
  object-fit: contain;
}

.product-image.desktop {
  display: none;
}

.product-image.mobile {
  /* todo: Better solution? */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/* - Mobile: 375px
- Desktop: 1440px */
@media (min-width: 650px) {
  .card {
    flex-direction: row;
    min-width: 650px;
    max-width: 700px;
  }

  .card-contents {
    justify-content: space-around;
    padding: 2em;
  }

  .product-image.mobile {
    display: none;
  }

  .product-image.desktop {
    display: block;
    /* todo: Better solution? */
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  .product-image {
    min-width: 50%;
  }
}
/* 
@media (min-width: 700px) {
  .card {
    width: 700px;
  }
} */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  padding: 1em 0;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: var(--border-radius);
}

button:hover,
button:focus {
  box-shadow: 2px 2px 8px var(--clr-dark);
}

button img {
  margin-right: 0.5em;
}

/*  
############
Footer
############
*/

footer {
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
